html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -316px;
   float:left
}
div#container
{
   width: 520px;
   height: 632px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FF0000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#Label1
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox1
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox2
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox3
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label4
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox4
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label5
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox5
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label6
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox6
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label7
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox7
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox7:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label8
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#006980;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox8
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox8:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px #2E6DA4 double;
   border-radius: 4px;
   background-color: #006980;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Button2
{
   border: 1px #2E6DA4 double;
   border-radius: 4px;
   background-color: #006980;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
}
#Label2
{
   position: absolute;
   left: 14px;
   top: 54px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 7;
}
#Editbox1
{
   position: absolute;
   left: 14px;
   top: 28px;
   width: 240px;
   height: 18px;
   line-height: 18px;
   z-index: 0;
}
#Label3
{
   position: absolute;
   left: 144px;
   top: 54px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 8;
}
#Editbox2
{
   position: absolute;
   left: 14px;
   top: 76px;
   width: 110px;
   height: 18px;
   line-height: 18px;
   z-index: 1;
}
#Shape1
{
   width: 506px;
   height: 334px;
}
#Label4
{
   position: absolute;
   left: 14px;
   top: 104px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 9;
}
#Editbox3
{
   position: absolute;
   left: 144px;
   top: 76px;
   width: 110px;
   height: 18px;
   line-height: 18px;
   z-index: 2;
}
#Label5
{
   position: absolute;
   left: 14px;
   top: 154px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 10;
}
#Editbox4
{
   position: absolute;
   left: 14px;
   top: 126px;
   width: 240px;
   height: 18px;
   line-height: 18px;
   z-index: 3;
}
#Label6
{
   position: absolute;
   left: 172px;
   top: 153px;
   width: 66px;
   height: 18px;
   line-height: 18px;
   z-index: 11;
}
#Editbox5
{
   position: absolute;
   left: 14px;
   top: 176px;
   width: 140px;
   height: 18px;
   line-height: 18px;
   z-index: 4;
}
#Label7
{
   position: absolute;
   left: 14px;
   top: 204px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 13;
}
#Editbox6
{
   position: absolute;
   left: 172px;
   top: 176px;
   width: 240px;
   height: 18px;
   line-height: 18px;
   z-index: 12;
}
#Label8
{
   position: absolute;
   left: 220px;
   top: 204px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 14;
}
#Editbox7
{
   position: absolute;
   left: 14px;
   top: 227px;
   width: 190px;
   height: 18px;
   line-height: 18px;
   z-index: 5;
}
#wb_Text6
{
   position: absolute;
   left: 424px;
   top: 298px;
   width: 70px;
   height: 16px;
   text-align: center;
   z-index: 20;
}
#Editbox8
{
   position: absolute;
   left: 221px;
   top: 227px;
   width: 160px;
   height: 18px;
   line-height: 18px;
   z-index: 15;
}
#wb_Text7
{
   position: absolute;
   left: 34px;
   top: 13px;
   width: 266px;
   height: 20px;
   z-index: 21;
}
#wb_Image6
{
   position: absolute;
   left: 424px;
   top: 252px;
   width: 47px;
   height: 46px;
   z-index: 19;
}
#wb_Form1
{
   position: absolute;
   left: 44px;
   top: 163px;
   width: 431px;
   height: 263px;
   z-index: 22;
}
#Button1
{
   position: absolute;
   left: 280px;
   top: 30px;
   width: 124px;
   height: 50px;
   z-index: 16;
}
#Button2
{
   position: absolute;
   left: 280px;
   top: 95px;
   width: 124px;
   height: 50px;
   z-index: 17;
}
#wb_Shape1
{
   position: absolute;
   left: 7px;
   top: 128px;
   width: 506px;
   height: 334px;
   z-index: 18;
}
#Label1
{
   position: absolute;
   left: 14px;
   top: 6px;
   width: 52px;
   height: 18px;
   line-height: 18px;
   z-index: 6;
}
@media only screen and (min-width: 1024px) and (orientation: landscape)
{
div#container
{
   width: 1024px;
   height: 1000px;
}
#wb_Shape1
{
   left: 232px;
   top: 61px;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 575px;
   top: 235px;
   width: 108px;
   height: 108px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 588px;
   top: 345px;
   width: 99px;
   height: 16px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#wb_Text7
{
   left: 268px;
   top: 75px;
   width: 234px;
   height: 20px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#wb_Form1
{
   left: 15px;
   top: 19px;
   width: 381px;
   height: 322px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Label1
{
   left: 18px;
   top: 20px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox1
{
   left: 18px;
   top: 46px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label2
{
   left: 18px;
   top: 68px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox2
{
   left: 79px;
   top: 47px;
   width: 190px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label3
{
   left: 148px;
   top: 68px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox3
{
   left: 79px;
   top: 80px;
   width: 110px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label4
{
   left: 18px;
   top: 118px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox4
{
   left: 18px;
   top: 140px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label5
{
   left: 18px;
   top: 168px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox5
{
   left: 18px;
   top: 190px;
   width: 140px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label6
{
   left: 176px;
   top: 167px;
   width: 66px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox6
{
   left: 176px;
   top: 190px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label7
{
   left: 18px;
   top: 218px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Label8
{
   left: 224px;
   top: 218px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox8
{
   left: 225px;
   top: 241px;
   width: 160px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Button1
{
   left: 284px;
   top: 44px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #006980;
   background-image: none;
   border-radius: 4px;
}
#Button2
{
   left: 284px;
   top: 109px;
   width: 124px;
   height: 50px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #006980;
   background-image: none;
   border-radius: 4px;
}
}
@media only screen and (max-width: 1023px) and (orientation: portrait)
{
div#container
{
   width: 980px;
   height: 1000px;
}
#wb_Shape1
{
   left: 232px;
   top: 61px;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 575px;
   top: 235px;
   width: 108px;
   height: 108px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 588px;
   top: 345px;
   width: 99px;
   height: 16px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#wb_Text7
{
   left: 268px;
   top: 75px;
   width: 234px;
   height: 20px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#wb_Form1
{
   left: 15px;
   top: 19px;
   width: 381px;
   height: 322px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Label1
{
   left: 18px;
   top: 20px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox1
{
   left: 18px;
   top: 46px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label2
{
   left: 18px;
   top: 68px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox2
{
   left: 79px;
   top: 47px;
   width: 190px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label3
{
   left: 148px;
   top: 68px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox3
{
   left: 79px;
   top: 80px;
   width: 110px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label4
{
   left: 18px;
   top: 118px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox4
{
   left: 18px;
   top: 140px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label5
{
   left: 18px;
   top: 168px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox5
{
   left: 18px;
   top: 190px;
   width: 140px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label6
{
   left: 176px;
   top: 167px;
   width: 66px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox6
{
   left: 176px;
   top: 190px;
   width: 240px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Label7
{
   left: 18px;
   top: 218px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Label8
{
   left: 224px;
   top: 218px;
   width: 52px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #006980;
   font-size: 13px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
}
#Editbox8
{
   left: 225px;
   top: 241px;
   width: 160px;
   height: 18px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
}
#Button1
{
   left: 284px;
   top: 44px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #006980;
   background-image: none;
   border-radius: 4px;
}
#Button2
{
   left: 284px;
   top: 109px;
   width: 124px;
   height: 50px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #006980;
   background-image: none;
   border-radius: 4px;
}
}
